@import url("normalize.css");

@import url("fontawesome.css");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");

@import url("http://fonts.googleapis.com/css?family=Merriweather:400,700");
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
[class*="fontawesome-"] {
  display: block;
  width: 84px;
  text-align: center;
  height: 40px;
  font-size: 2em;
}
/*--------------------------/
 /------------Typo-----------/
/--------------------------*/
body {
  font-family: "Open Sans";
  background: url("../img/paper_fibers.png") 0 0 repeat;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  color: "#666666";
  font-family: "Open Sans";
}
h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
  font-family: "Open Sans";
  font-weight: 300;
  color: #5d5d5d;
}
a {
  text-decoration: none;
}
/*--------------------------/
 /-------Base-layout---------/
/--------------------------*/
#page-wrapper {
  width: 1024px;
  margin: 0 auto 100px auto;
}
.top-nav {
  padding: 40px 0;
}
.top-nav a {
  color: #8a8a8a;
  text-decoration: none;
  font-weight: 100;
  font-size: "14px";
  margin-right: 25px;
  padding: 10px 20px;
  border-bottom: 8px solid transparent;
  transition: all 0.3s linear;
  text-shadow: none;
  -webkit-transition: all 0.3s linear;
}
.top-nav a.home:hover {
  border-bottom: 8px solid rgba(32, 81, 130, 0.7);
}
.top-nav a.home.active,
.top-nav a.home:active {
  border-bottom: 8px solid #205182;
  text-shadow: 1px 1px 1px #ccc;
}
.top-nav a.blog:hover {
  border-bottom: 8px solid rgba(32, 130, 67, 0.7);
}
.top-nav a.blog.active,
.top-nav a.blog:active {
  border-bottom: 8px solid #208243;
  text-shadow: 1px 1px 1px #ccc;
}
.top-nav a.api:hover {
  border-bottom: 8px solid rgba(238, 198, 75, 0.7);
}
.top-nav a.api.active,
.top-nav a.api:active {
  border-bottom: 8px solid #ecc44c;
  text-shadow: 1px 1px 1px #ccc;
}
.top-nav .left {
  float: left;
}
.top-nav .left a {
  float: left;
}
.top-nav .right {
  float: right;
}
.top-nav .right a {
  float: left;
  margin-right: 0;
}
.top-nav .right a:last-child {
  margin-right: 0;
}
.top-nav .right a:hover {
  color: #656565;
}
.top-nav .right a:active {
  color: #000;
}
.app-nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 86px;
  height: 200px;
  background: url("../img/navy_blue.png") 0 0 repeat;
  box-shadow: 0px 6px 34px #eee;
  -webkit-box-shadow: 0px 6px 34px #eee;
  -moz-box-shadow: 0px 6px 34px #eee;
}
.app-nav-wrapper .app-nav {
  width: 1024px;
  margin: 40px auto 0 auto;
}
.app-nav-wrapper .app-nav a {
  float: left;
  color: #e9e9e9;
  text-decoration: none;
  font-weight: 100;
  text-align: center;
  margin-left: 29px;
  border-radius: 4px;
  padding: 2px 8px;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.app-nav-wrapper .app-nav a:first-child {
  margin-left: 0;
}
.app-nav-wrapper .app-nav a:active {
  background: rgba(94, 94, 94, 0.4);
}
.viewport-wrapper {
  display: none;
  background: #ffffff;
  position: relative;
  border: 1px solid #e4e4e4;
  width: 1024px;
  height: 800px;
  top: 134px;
  box-shadow: 0 1px 1px #888;
  border-radius: 4px;
}
.viewport-wrapper:before {
  border: 1px solid #eeeeee;
}
.viewport-wrapper .viewport {
  padding: 2%;
}
/*--------------------------/
 /-------Modules-------------/
/--------------------------*/
.content-box {
  margin-top: 210px;
  padding: 2%;
  width: 98%;
  background: #fff;
}
.feed-wrapper .left-nav {
  width: 19%;
  min-height: 200px;
  border-right: 1px solid #ccc;
  float: left;
}
.feed-wrapper .left-nav a {
  position: relative;
  color: #333;
  text-align: left;
  padding: 5px 0 5px 20px;
  font-size: 1.5em;
  display: block;
  font-weight: 100;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 20px;
}
.feed-wrapper .left-nav a.active,
.feed-wrapper .left-nav a:hover {
  background: #205182;
  color: #e9e9e9;
}
.feed-wrapper .left-nav a.active .arrow-right,
.feed-wrapper .left-nav a:hover .arrow-right {
  border-left-color: #205182;
}
.feed-wrapper .left-nav a .arrow-right {
  border-left-color: transparent;
}
.feed-wrapper .feed-content {
  float: left;
  width: 70%;
  padding: 0 5%;
}
.arrow-top {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-radius: 5px;
  position: relative;
  top: -9px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
.arrow-top.dashboard {
  left: 4%;
}
.arrow-top.inbox {
  left: 16.5%;
}
.arrow-top.booking {
  left: 29%;
}
.arrow-top.inventory {
  left: 41.5%;
}
.arrow-top.listings {
  left: 54%;
}
.arrow-top.customers {
  left: 66.6%;
}
.arrow-top.metrics {
  left: 79.4%;
}
.arrow-top.settings {
  left: 92%;
}
.arrow-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid #205182;
}
.arrow-right.feed-nav {
  position: absolute;
  right: -21px;
  top: 0;
}
.divider.horizontal {
  border: 1px solid #ccc;
  border-top: 0;
  margin: 15px 0;
}
.divider.vertical {
  height: 40px;
  border-right: 1px solid #b5b5b5;
  float: left;
}
hr {
  border: 1px solid #ccc;
  border-top: 0;
  margin: 15px 0;
}
/*-------------------/
---non-semantic-----/
----helper-lasses--/
-----------------*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf {
  clear: both;
}
.nm {
  margin: 0;
}
