<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"> 
  <style type="text/css">
  	  @import url("http://fonts.googleapis.com/css?family=PT+Sans");
      body {
        padding:80px;
        background-color: #f5f5f5;
        font-family: "PT Sans";
      }
      h1{
	      font-size: 112px !important;
	      line-height:86px !important;
      }
      a{
	      margin-left:5px;
	      color: #abc;
	      text-decoration: none;
      }
    </style>
</head>
<body>
	<h1>EPIC 404!</h1>
	<h3><a href="/">Back to topic</a></h3>
</body>
</html>