<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"> 
  <link rel="stylesheet" type="text/css" href="css/app.css"  />
</head>
<body>
	<div id="page-wrapper">
		<header id="header">
			<div class="top-nav">
			  <div class="left ">
				  <a id="NavGoHome" class="home active" href="#">Home</a>
				  <a id="NavGoBlog" href="#blog" class="blog" >Blog</a>
				  <a id="NavGoAPI" href="#api" class="api">API</a>
			  </div>
			  <div class="right">
				  <a id="NavGoAbout" href="#about">About</a>
				  <span class="vertical divider"></span>
				  <a class="fr" id="LogOut"  href="/logout">Log Out</a>
			  </div>
			</div>
			<div class="app-nav-wrapper clearfix">
				<div class="app-nav">
					<a href="#dashboard" id="godashboard"><span class="fontawesome-dashboard"></span>Dashboard</a>
					<a href="#booking" id="gobooking"><span class="fontawesome-plane"></span>Booking</a>
                    <a href="#inbox" id="goinbox"><span class="fontawesome-inbox"></span>Inbox</a>
					<a href="#inventory"><span class="fontawesome-table"></span>Inventory</a>
					<a href="#listings"><span class="fontawesome-list-ul"></span>Listings</a>
					<a href="#customers"><span class="fontawesome-group"></span>Customers</a>
					<a href="#metrics"><span class="fontawesome-bar-chart"></span>Metrics</a>
					<a href="#settings"><span class="fontawesome-cogs"></span>Settings</a>	
				</div>			
			</div>
		</header>
		<!-- the main body -->
		<div class="viewport-wrapper">
			<div class="arrow-top dashboard">&nbsp;</div>
			<div class="viewport"></div>
		</div>
		<section class="content-box clearfix">
		</section>
		<!-- end main body -->
		<footer id="footer"></footer>
	</div>	
	 <script>
	 	var MyApp = MyApp || {};
	 	MyApp.currentView = null;
	 	MyApp.env = "<%= env %>";
	 </script>
	 <%if ( env == "development" ) { %>  <script data-main="js/main.js" src="js/libs/require.js"></script> <% } %>
	 <%if ( env == "production" ) { %> <script data-main="js/main.min.js" src="js/libs/require.js"></script> <% } %> 	 
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</body>
</html>