<div class="viewport-nav">
	<a href="#booking" id="goComparison"><span class="fontawesome-angle-left"></span> zur&uuml;ck</a>
</div>

<h3 class="smb">Buchung abschlie&szlig;en</h3>

<div class="left-col">
	<div class="product-list">
		<div class="product">
			<div class="desc">Bahnfahrt Stuttgart - K&ouml;ln</div>
			<div class="price">102 &euro;</div>
			<div class="cf"></div>
		</div>
		<div class="product">
			<div class="desc">Bahnfahrt K&ouml;ln - Hamburg</div>
			<div class="price">92 &euro;</div>
			<div class="cf"></div>
		</div>
		<div class="product">
			<div class="desc">Hotel <span class="hotel-stars">****</span> Novotel Alster</div>
			<div class="price">120 &euro;</div>
			<div class="cf"></div>
		</div>
		<div class="product">
			<div class="desc">Flug Hamburg - Stuttgart</div>
			<div class="price">95 &euro;</div>
			<div class="cf"></div>
		</div>
		<div class="product">
			<div class="desc">Taxikosten</div>
			<div class="price">ca. 112 &euro;</div>
			<div class="cf"></div>
		</div>
		<div class="product-total">
			<div class="desc">Kosten gesamt:</div>
			<div class="price">409 &euro;</div>
			<div class="addedPeople">
				<div class="multiplier">x 3</div>
				<div class="final">1227 &euro;</div>
			</div>
			<div class="cf"></div>
		</div>
		<div class="product-total">
			<div class="desc">inkl. taxen</div>
			<div class="price">ca. 512 &euro;</div>
			<div class="addedPeople">
				<div class="multiplier">x 3</div>
				<div class="final">1536 &euro;</div>
			</div>
			<div class="cf"></div>
		</div>
	</div>
	
</div>
<div class="right-col">
	<div class="booking-options">
		<label class="expanded emphasis"><span class="fontawesome-plus-sign left"></span>Reisende</label>
		<select class="expanded" id="nameSelect1">
			<option value="1">Hans Mustermann</option>
			<option value="2">Eva Schwarz</option>
			<option value="3">Tobias Meier</option>
			<option value="4">Peter Geier</option>
			<option value="5">Jonas Schmand</option>
			<option value="6">Kristina H. Chung</option>
			<option value="7">Paige H. Chen</option>
			<option value="8" selected="selected">Sherri E. Melton</option>
			<option value="9">Patrick O. Song</option>
			<option value="10">Elsie A. Hamilton</option>
			<option value="11">Hazel E. Bender</option>
			<option value="12">Malcolm A. Wagner</option>
			<option value="13">Dolores C. McLaughlin</option>
			<option value="14">Francis C. McNamara</option>
			<option value="15">Sandy A. Raynor</option>
			<option value="16">Marion O. Moon</option>
			<option value="17">Beth O. Woodard</option>
			<option value="18">Julia E. Desai</option>
			<option value="19">Jean R. Griffin</option>
			<option value="20">Brett A. Lamb</option>
		</select>
		<select class="expanded" id="nameSelect2">
			<option value="1">Hans Mustermann</option>
			<option value="2">Eva Schwarz</option>
			<option value="3" >Tobias Meier</option>
			<option value="4">Peter Geier</option>
			<option value="5">Jonas Schmand</option>
			<option value="6">Kristina H. Chung</option>
			<option value="7">Paige H. Chen</option>
			<option value="8">Sherri E. Melton</option>
			<option value="9">Patrick O. Song</option>
			<option value="10">Elsie A. Hamilton</option>
			<option value="11">Hazel E. Bender</option>
			<option value="12" selected="selected">Malcolm A. Wagner</option>
			<option value="13">Dolores C. McLaughlin</option>
			<option value="14">Francis C. McNamara</option>
			<option value="15">Sandy A. Raynor</option>
			<option value="16">Marion O. Moon</option>
			<option value="17">Beth O. Woodard</option>
			<option value="18">Julia E. Desai</option>
			<option value="19">Jean R. Griffin</option>
			<option value="20">Brett A. Lamb</option>
		</select>
		<select class="expanded" id="nameSelect3">
			<option value="1">Hans Mustermann</option>
			<option value="2">Eva Schwarz</option>
			<option value="3" selected="selected">Tobias Meier</option>
			<option value="4">Peter Geier</option>
			<option value="5">Jonas Schmand</option>
			<option value="6">Kristina H. Chung</option>
			<option value="7">Paige H. Chen</option>
			<option value="8">Sherri E. Melton</option>
			<option value="9">Patrick O. Song</option>
			<option value="10">Elsie A. Hamilton</option>
			<option value="11">Hazel E. Bender</option>
			<option value="12">Malcolm A. Wagner</option>
			<option value="13">Dolores C. McLaughlin</option>
			<option value="14">Francis C. McNamara</option>
			<option value="15">Sandy A. Raynor</option>
			<option value="16">Marion O. Moon</option>
			<option value="17">Beth O. Woodard</option>
			<option value="18">Julia E. Desai</option>
			<option value="19">Jean R. Griffin</option>
			<option value="20">Brett A. Lamb</option>
		</select>
		<label class="expanded emphasis" >Identifikation f&uuml;r das Ticket:</label>
		<select class="expanded" id="sIdent">
			<option>Kreditkarte</option>
			<option selected="selected">Personalausweis</option>
			<option>EC-Karte</option>
			<option>Bahncard</option>
		</select>
		<label class="expanded emphasis" >Bezahlung</label>
		<select class="expanded" id="sBezahlung">
			<option>Kreditkarte</option>
			<option>EC-Karte</option>
			<option selected="selected">Bankeinzug</option>
		</select>
	</div>
</div>
<button class="cf btn blue huge" id="confirmBooking">Buchung best&auml;tigen</button>