<form>
	<div class="grid-6-12 alpha cf">
		<label>Start der Reise</label>
	</div>
	<div class="grid-6-12 alpha cf">
		
		<input type="text" name="start" id="inputStart" class="googleautocomplete" placeholder="Stadt / Adresse" required="required" />
	</div>
	<div class="grid-3-12">
		<input type="text" class="datepicker set_date_today" name="start_date" required="required" />
	</div>

	<fieldset class="cf" id="form_termine">
		<div class="legend addTermin">
			<h5 class="nm"><span class="fontawesome-plus-sign left" id="addTermin"></span>Termine</h5>
		</div>
		


		<!-- TEH REPEATABLE -->
		<div class="termin_entry first">
			<span class="fontawesome-minus-sign left deleteTermin"></span>
			 <div class="grid-6-12 alpha cf">
				<input type="text" class="googleautocomplete termin_change" name="termin_1" placeholder="z.B. Dortmunderstraße 20, Köln" required>
			</div>
			<div class="grid-3-12">
				<input type="text" class="datepicker set_date_today" name="termin_1_date" required="required" />
			</div>
			<div class="grid-3-12 omega">
				<input type="text" class="set_time" name="termin_1_time" />
				<div class="slider-range"></div>
			</div>
			<!-- -->
			<div class="grid-3-12 alpha cf">
				<label>Übernachtung in</label>
			</div>
			<div class="grid-6-12 sleep"><input type="text" disabled="disabled" class=" googleautocomplete" placeholder=""/></div>
			<div class="cf"></div>
		</div>
		<!-- TEH REPEATABLE -->


	</fieldset>
	<div class="grid-6-12 alpha cf">
		<label>Ende der Reise</label>
	</div>
	<div class="grid-6-12 alpha cf">
		
		<input type="text" name="end" id="InputEnd" class="googleautocomplete" placeholder="Stadt / Adresse" required="required" />
	</div>
	<div class="grid-3-12">
		<input type="text" class="datepicker set_date_today" name="end_date" required="required" />
	</div>
</form>
	<button class="btn blue huge" id="toggleExtended">
		<span class="fontawesome-plus pre"></span>
		<span class="descr">erweitert</span>
	</button>
	<div class="extended-info">
		<div class="booking-options">
			<h4 class="nm cf smb">Reiseoptionen</h4>
			<div class="checkbox-wrap grid-8-12 alpha cf">
				<h6 class="nm smb" >Verkehrsmittel</h6>
				<input type="checkbox" class="" /><label class="">Fl&uuml;ge</label>
				<input type="checkbox" class="" /><label class="">Nur direktfl&uuml;ge</label>
				<input type="checkbox" class="" /><label class="">Taxifahrten</label>
			</div>
			<div class="checkbox-wrap grid-11-12 alpha cf">
				<h6 class="nm smb">Klassen</h6>
				<input type="checkbox" class="" /><label class="small-width">Economy</label>
				<input type="checkbox" class="" /><label class="small-width">Business</label>
				<input type="checkbox" class="" /><label class="small-width">2. Klasse</label>
				<input type="checkbox" class="" /><label class="small-width">1. Klasse</label>
			</div>
			<div class="checkbox-wrap grid-12-12 alpha cf">
				<h6 class="nm smb">Hotels</h6>
				<input type="checkbox" class="cf" />
				<label class="smb">
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
				</label>
				<input type="checkbox" class="cf" />
				<label class="smb">
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
				</label>
				<input type="checkbox" class="cf" />
				<label class="smb">
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star-empty"></span>
					<span class="fontawesome-star-empty"></span>
				</label>
				<input type="checkbox" class="cf" />
				<label class="">
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star-empty"></span>
				</label>
				<input type="checkbox" class="cf" />
				<label class="">
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
					<span class="fontawesome-star"></span>
				</label>
			</div>
			<label for="sAnzahl">Anzahl Reisende</label>
			<select id="sAnzahl">
				<option>1 Person</option>
				<option>2 Personen</option>
				<option>3 Personen</option>
				<option>4 Personen</option>
				<option>5 Personen</option>
			</select>
			<label for="sBahncard">Bahncard</label>
			<select id="sBahncard">
				<option>Bahncard 25 - 1.Klasse</option>
				<option>Bahncard 25 - 2.Klasse</option>
				<option>Bahncard 50 - 1.Klasse</option>
				<option>Bahncard 50 - 2.Klasse</option>
				<option>Bahncard 100</option>
			</select>
		</div>
		
	</div>
	<button class="btn blue huge" id="goComparison">weiter<span class="fontawesome-chevron-right"></span></button>
