<h2 class="thin nm">Lorem Ipsum Doshizzle</h2>
<hr class="horizontal divider" />
<div class="feed-wrapper">
	<div class="left-nav">
		<a href="#" class="active">Customers<span class="arrow-right feed-nav"></span></a>
		<a href="#">Form<span class="arrow-right feed-nav"></span></a>
		<a href="#">Deals<span class="arrow-right feed-nav"></span></a>
	</div>
	<div class="feed-content">
		<div class="feed-head">
			<h4 class="thin">List of Customers</h4>
		</div>
		<div class="feed-list">
			<div class="feed-item">
				<img src="#" width="90" height="75" />
				<h4 class="thin">Loro Ramani</h4>
				<p>ball alsdl aslld lasld lalsdl als aldsl</p>
			</div>
		</div>
	</div>
</div>