<h2 class="thin nm">Lorem Ipsum Doshizzle</h2>
<hr class="horizontal divider" />
<div class="feed-wrapper">
	<div class="left-nav">
		<a href="#dashboard" class="active">Gebuchte Reise<span class="arrow-right highlighted feed-nav"></span></a>
		<a href="#dashboard" >Vergangene R.<span class="arrow-right feed-nav"></span></a>
		<a href="#dashboard">Dosizzle amec<span class="arrow-right feed-nav"></span></a>
		<a href="#dashboard">hydrometer infusion<span class="arrow-right feed-nav"></span></a>
		<a href="#dashboard">heat exchanger<span class="arrow-right feed-nav"></span></a>
	</div>
	<div class="feed-content">
		<div class="feed-head">
			<h4 class="thin">Anstehende Reisen</h4>
		</div>
		<div class="feed-list">
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
				<div class="arrow-right pointed"></div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
		</div>
	</div>
	<div class="left-nav vhd"></div>
	<div class="feed-content op6">
		<div class="feed-head">
			<h4 class="thin">Vergangene Reisen</h4>
		</div>
		<div class="feed-list">
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
			<div class="feed-item">
				<div class="item-date"><span class="day thin">11</span><span class="month">Januar</span></div>
				<div class="description">
					<h4 class=" nm b">Loro Ramani</h4>
					<p>ball alsdl aslld lasld lalsdl als aldsl</p>
				</div>
				<div class="price">236 &euro;</div>
			</div>
		</div>
	</div>
	<div class="cf"></div>
</div>