<div class="slider">
	<div class="row">	
		<div class="">
			<h2>BLA is an awesome, open-source CMS!</h2>
			<div class="well ">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<div class="well ">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<hr class="cf ">
		</div>
	</div>
	<div class="row">	
		<div class="">
			<h2>BLA is an awesome, open-source CMS!</h2>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<hr class="cf">
		</div>
	</div>
	<div class="row">	
		<div class="">
			<h2>BLA is an awesome, open-source CMS!</h2>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<hr class="cf">
		</div>
	</div>
	<div class="row">	
		<div class="">
			<h2>BLA is an awesome, open-source CMS!</h2>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<div class="well">
				BLA is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications.
	
	With an ever growing community and a large selection of modules, themes and addons BLA makes it easier than ever to build your website!
			</div>
			<hr class="cf">
		</div>
	</div>
</div>