<div class="termin_entry" style="display:none;">
	<span class="fontawesome-minus-sign left deleteTermin"></span>
	 <div class="grid-6-12 alpha cf">
		<input type="text" class="googleautocomplete termin_change" name="termin_2" placeholder="z.B. Dortmunderstraße 20, Köln" required>
	</div>
	<div class="grid-3-12">
		<input type="text" class="datepicker set_date_today" name="termin_2_date" required="required" />
	</div>
	<div class="grid-3-12 omega">
		<input type="text" class="set_time" name="termin_2_time" />
		<div class="slider-range"></div>
	</div>
	<!-- -->
	<div class="grid-3-12 alpha cf">
		<label>Übernachtung in</label>
	</div>
	<div class="grid-6-12 sleep"><input type="text" class="googleautocomplete"/></div>
	<div class="cf"></div>
</div>